<div class="container">
    <h1> login Page..! </h1>
    <form [formGroup]="loginDetails" (ngSubmit)="fnLogin()" class="col-md-6">

        <div class="form-group">
            <label>User Name:</label>
            <input type="text" formControlName="userId" class="form-control">
            <div *ngIf="fnusername.touched && fnusername.invalid" class="alert alert-danger">      <!-- username  is a function is return by get-->
                <div *ngIf="fnusername.errors.required">
                    UserId is required
                </div>
                <div *ngIf="fnusername.errors.minlength">
                    UserId should be 4 characters required
                </div>
                <div *ngIf="fnusername.errors.maxlength">
                    UserId maximum 10 characters allowed
                </div>
            </div>
        </div>
        

        <div class="form-group">
            <label>Password:</label>
            <input type="password" formControlName="password" class="form-control">
            <div *ngIf="fnpassword.touched && fnpassword.invalid" class="alert alert-danger">  <!--  passoword is a function returned by value-->
                
                <div *ngIf="fnpassword.errors.required">
                    Password is required
                </div>
                <div *ngIf="fnpassword.errors.minlength">
                    Password should be 4 characters required
                </div>
                <div *ngIf="fnpassword.errors.maxlength">
                    Password maximum 10 characters allowed
                </div>

            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button> 
        </div>
    </form>
</div>