.header{
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
    padding: 15px;
    text-align: center;
    color: red;
    background-color: greenyellow;
    margin-top: 0px;
}
.footer{
    background: aquamarine;
    text-align: center;
    bottom: 0px;
    margin-bottom   : 0px;
    position: fixed;
    width: 100%;
}