<h1 class="adminHeader">Admin Menu </h1>

<div class="menu">
    <a routerLink="home">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="create-vendor">Create Vendor </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="vendor-list">Vendor List </a>&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<router-outlet> </router-outlet>