<h1 class="CustomerHearder">Customer Module</h1>

<div class="menu">
    <a routerLink="home">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="cart">Cart</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="order">Order</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="profile">Profie</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<router-outlet> </router-outlet>