/* .CustomerHearder{
    height: 40px;
    background: blue;
    text-align: center;
    color: white; 
    padding: 4px;
    margin-top: -19px;
}
.menu{
    text-align: right;
    background-color: aqua;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: -22px;
    padding: 5px;
}
.menu > a{
    letter-spacing: 3px;
} */